<% pageTitle='Shumway Issue Reporter' %>
<% include header %>
        <div>
          <h2>Uh oh!</h2>
          <p>A problem has occured while retrieving the report. Please try again.</p>
        </div>
<% include footer %>