<!DOCTYPE html>
<html class="windows no-js" lang="en-US" dir="ltr">
<head>
  <title><%= pageTitle %></title>
  <link href="//mozorg.cdn.mozilla.net/media/css/tabzilla-min.css?build=bf3b6d1" media="screen,projection,tv" rel="stylesheet">
    <!--[if lte IE 8]>
    <script src="//mozorg.cdn.mozilla.net/media/js/libs/html5shiv.js"></script>
    <![endif]-->
  <link href="//mozorg.cdn.mozilla.net/media/css/responsive-min.css?build=bf3b6d1" media="all" rel="stylesheet">
  <link href="style/style.css" media="all" rel="stylesheet">
  <script src="//mozorg.cdn.mozilla.net/media/js/site-min.js?build=bf3b6d1"></script>
</head>
<body class="html-ltr sand">
    <div id="outer-wrapper">
    <div id="wrapper">
    <div id="content">
      <header id="masthead">
      <a href="/en-US/" id="tabzilla">Mozilla</a>
      </header>
      <div id="content_area" role="main">
        <h1><%= pageTitle %></h1>
        <section>