<% pageTitle='Shumway Issue Reporter' %>
<% include header %>
        <div>
          <h2>Thank You!</h2>
          <p>Your report has been <a href="entry/<%= id %>">stored with the id <%= id %> and we'll investigate.</p>
        </div>
<% include footer %>