<% pageTitle='Shumway Issue Reporter' %>
<% include header %>
        <div style='width: 500px; clear: both'>
          <h2>Uh oh!</h2>
          <p>A problem has occured while submitting your report. Please try again.</p>
        </div>
<% include footer %>