<% pageTitle='Shumway Issue Reporter' %>
<% include header %>
        <div style='width: 500px; clear: both'>
          <h2>Thank You!</h2>
          <p>Your report has been stored and we'll investigate.</p>
        </div>
<% include footer %>